# 31 days of intensive python projects with my colleague, vincent Github @ Acirfa1Â¶

## Day 2: sqlite3 practice

In [1]:
import sqlite3 as sqlite
connection = sqlite.connect("department.db")
connection.execute("CREATE TABLE department(name TEXT, age INT, mat_number TEXT, state TEXT)")
connection.close()

In [3]:
conn = sqlite.connect("department.db")
conn.execute('INSERT INTO department (name, age, mat_number, state) VALUES ("David", 25, "k2-1", "Abia State")')
conn.commit()
conn.close()

In [4]:
conn = sqlite.connect("department.db")
conn.execute('INSERT INTO department (name, age, mat_number, state) VALUES ("Jane", 20, "k2-2", "Rivers State")')
conn.commit()
conn.close()

In [5]:
conn = sqlite.connect("department.db")
conn.execute('INSERT INTO department (name, age, mat_number, state) VALUES ("Mark", 22, "k2-3", "Kano State")')
conn.commit()
conn.close()

In [6]:
conn = sqlite.connect("department.db")
conn.execute('INSERT INTO department (name, age, mat_number, state) VALUES ("Zenith", 22, "k2-4", "Delta State")')
conn.commit()
conn.close()

In [7]:
conn = sqlite.connect("department.db")
conn.execute('INSERT INTO department (name, age, mat_number, state) VALUES ("Mike", 27, "k2-5", "Imo State")')
conn.commit()
conn.close()

In [8]:
conn = sqlite.connect("department.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM department")
print(content)
for details in content:
    print(details)
conn.close()

<sqlite3.Cursor object at 0x000002B7ACE76140>
('David', 25, 'k2-1', 'Abia State')
('Jane', 20, 'k2-2', 'Rivers State')
('Mark', 22, 'k2-3', 'Kano State')
('Zenith', 22, 'k2-4', 'Delta State')
('Mike', 27, 'k2-5', 'Imo State')

In [9]:
conn = sqlite.connect("department.db")
curs = conn.cursor()
content = curs.execute("SELECT age FROM department")
print(content)
for details in content:
    print(details)
conn.close()

<sqlite3.Cursor object at 0x000002B7ADBA0CC0>
(25,)
(20,)
(22,)
(22,)
(27,)